@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://unpkg.com/css.gg@2.0.0/icons/css/menu.css");
@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css");

/* Conf geral da fonte */
html, body{
    font-family: 'Poppins', sans-serif;
    margin: 10px 0px 0px 0px;
    padding: 0;
}
.active{
    background-color: #4FB288;
    font-weight: 700;
    color: #fff;
    border-radius: 0.5em;
    text-decoration: none;
    padding: 0.5em;
}
footer{
    height: 100px;
    margin: 0;
    padding: 0;
}
/* Estilo Header */
.contair-header {
    display: flex;
    flex-direction: row;
    gap: 60em;
    align-items: center;
    justify-content: center;
}
.contair-texto{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.denuncie-texto{
    color: #4FB288;
    font-weight: 400;
    margin-left: -0.5em;
}
.aqui-texto{
    color: #20E74C;
    font-weight: 900;
}
.button-menu-lateral{
    height: 2em;
    border: none;
    background-color: transparent;
    margin-right: 2em;
}

header hr{
    border: 1px solid #2E2E2E;
    width: 80em;
}
.menu-principal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5em;
    margin-left: 2em;
}
.link-menu-principal{
    text-decoration: none;
    font-weight: 400;
    color: black;
    padding: 0.5em;
}
.link-menu-principal:hover{
    background-color: #4FB288;
    font-weight: 700;
    color: #ffffff;
    border-radius: 0.5em;
}

main hr{
    border: 1.2px solid #a1a1a1;
    margin-top: 5em;
    margin-bottom: 5em;
    width: 80em;
    margin: auto;
}
main h1{
    margin-bottom: 1em;
}
.section-sobre {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8em;
}
.container-sobre {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 1.4em;
    margin-left: 3.5em;
}
.section-mapa{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2em;
    margin-top: 8em;
    margin-left: 3em;
}
.container-mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
}
.list-group{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 25em;
}
.list-group  button{
    border: none;
    font-size: 1.4em;
}
.list-group button:hover{
    border: none;
    background-color: #D7D7D7;
    color: #000000;
    transition: background-color 0.5s ease;
}
.list-group button:focus{
    border-style: none;
    background-color: #D7D7D7;
    color: #000000;
    font-weight: 600;
}
.container-mapa{
    background-color: #F7F7F7;
    border-radius: 0.75em;
    width: 50em;
    height: 38em;
}
.button-verde-limao {
    text-decoration: none;
    font-weight: 400;
    background-color: #0bee3d;
    color: #ffffff;
    padding: 0.3em;
    text-align: center;
    font-size: 1.5em;
    margin-top: 10em;
    border-radius: 0.3em;
    font-weight: 700;
    box-shadow: 2.5px 2.5px #212121;
}
.button-verde-limao:hover {
    background-color: #28ff65;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.5s ease;
  }
.button-verde-limao:focus {
    background-color: #41af0e;
    text-decoration: none;
}

